In [1]:
import numpy as np
import pandas as pd
import pickle

ANALYSIS_POSTFIX = "mined_sudden_2024-08-16"

In [2]:
with open(f"reports/results/{ANALYSIS_POSTFIX}/cv_results.pickle", "rb") as handle:
    cv_predictions = pickle.load(handle)

with open(f"reports/results/{ANALYSIS_POSTFIX}/test_results.pickle", "rb") as handle:
    test_predictions = pickle.load(handle)

with open(f"reports/results/{ANALYSIS_POSTFIX}/s2_model_results.pickle", "rb") as handle:
    s2_predictions = pickle.load(handle)

#### Performance of Meta Models (Cross-Validation)

In [5]:
cv_predictions["model_set"]

model_set
0            100
1            100
cluster_1    100
cluster_4    100
cluster_3    100
ensemble     100
Name: count, dtype: int64

In [11]:
test_predictions

,question_id,parent_answer_post_id,prob,input_sequence,output_sequence,id,snippet_len,intent_len,snippet_token_n,intent_token_n,cluster,input_ids,attention_mask,labels,model_set,prediction,rouge
0,19530568,29500330,0.248484,df['grouped'] = df['B'] + df['C'],"Can pandas groupby aggregate into a list, rath...",0,33,69,14,16,3,"[1, 2180, 3292, 25472, 3546, 273, 3013, 3292, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 2568, 12037, 13126, 7047, 1368, 279, 666, ...",0,Group by B and C,0.000000
1,18702105,24900335,0.334249,"f([[0.0, 0.0], [1.0, 1.0]], [[0.0, 1.0], [0.0,...",Parameters to numpy's fromfunction,1,53,34,40,6,4,"[1, 74, 3816, 63, 20, 18, 20, 16, 374, 18, 20,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 2402, 358, 3972, 1807, 628, 915, 2, -100, ...",0,- - - - - - - - - - - - - -,0.000000
2,1686390,1686400,0.356134,a = '123' if b else '456',"Python-equivalent of short-form ""if"" in C++",2,25,43,12,14,4,"[1, 69, 273, 296, 12936, 11, 309, 324, 469, 29...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0]","[1, 15774, 17, 14298, 6505, 434, 3025, 17, 687...",0,a = 123 b = 456,0.000000
3,30551955,30551971,0.252021,"[(1, 2, 3), (10, 2, 3)]",Expanding tuples in list comprehension generator,3,23,48,15,10,4,"[1, 63, 12, 21, 16, 576, 16, 890, 3631, 261, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 12271, 310, 10384, 316, 666, 1161, 266, 76...",0,Returns a list of 2 - tuples.,0.333333
4,13944751,13944920,0.126119,"{{example_2(1, 2, test='Hello')}}","*args, **kwargs in jinja2 macros",4,33,32,14,9,4,"[1, 12187, 8236, 67, 22, 12, 21, 16, 576, 16, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 14, 1968, 16, 2826, 4333, 316, 25919, 22, ...",0,Example 2.,0.000000
5,26963319,26963763,0.188478,"func(1, 2, kwonly=3, kw=4)",Python inspect module: keyword only args,5,26,40,15,7,4,"[1, 644, 12, 21, 16, 576, 16, 5323, 3700, 33, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 15774, 5334, 1605, 30, 4932, 1338, 833, 2,...",0,1 2 3 kwonly = 3,0.000000
6,41030900,41030939,0.014241,"t2 = [4, 5, 6]",overloaded __getitem__ accepting another argument,6,14,49,10,8,4,"[1, 88, 22, 273, 306, 24, 16, 1381, 16, 1666, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0]","[1, 1643, 4230, 1001, 31571, 972, 25806, 4042,...",0,t1 = 4 5 6,0.000000
7,22962447,22963275,0.318675,"['C', 'B', 'D', 'A', 'B', 'C', 'D', 'A']",How to randomize the order of elements of a li...,7,40,99,24,21,4,"[1, 3292, 39, 2187, 296, 38, 2187, 296, 40, 21...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 44, 543, 358, 2744, 554, 326, 1353, 434, 2...",0,Returns the list of the available values.,0.320000
8,20256909,20257014,0.097054,"ordering = ['customer_name', 'city_name', 'sta...",Django: How to write query to sort using multi...,8,50,79,15,16,4,"[1, 22598, 273, 10228, 10061, 67, 529, 2187, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 40, 9142, 30, 9017, 358, 1045, 843, 358, 1...",0,Order by customer_name city_name,0.000000
9,41256648,41256772,0.565963,"df.iloc[:, (np.r_[1:10, (15), (17), 50:100])]",Select multiple ranges of columns in Pandas Da...,9,45,53,27,8,4,"[1, 2180, 18, 330, 504, 10531, 16, 261, 6782, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 3391, 3229, 7322, 434, 2168, 316, 30540, 7...",0,DF. illustration of the R^2 matrix.,0.133333
10,10851445,10851479,0.654581,"['long ', 'string ', 'that ', 'I want to split...",Splitting a string by list of indices,10,51,37,16,8,4,"[1, 3292, 5748, 2265, 296, 1080, 2265, 296, 19...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 5521, 1787, 279, 533, 635, 666, 434, 4295,...",0,List of strings and their values.,0.461538
11,17352321,17373096,0.637749,"re.findall('\\[[^\\]]*\\]|\\([^\\)]*\\)|""[^""]*...",Python splitting string by parentheses,11,60,38,31,5,4,"[1, 266, 18, 4720, 454, 2668, 1695, 63, 5969, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 15774, 20347, 533, 635, 27888, 2, -100, -1...",0,Find all the strings in the input string.,0.153846
12,26746441,26748321,0.170526,"test(1, 2)",How can a decorator pass variables into a func...,12,10,82,6,15,4,"[1, 3813, 12, 21, 16, 576, 13, 2, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]","[1, 44, 543, 848, 279, 7367, 1342, 3152, 1368,...",0,Test for the presence of two numbers,0.000000
13,29545758,29545984,0.192087,"[round_to_nearest(i, 6) for i in range(20)]",Python 2 - How would you round up/down to the ...,13,43,64,18,16,3,"[1, 63, 2260, 67, 869, 67, 25785, 12, 77, 16, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 15774, 576, 300, 9017, 4102, 1846, 3643, 7...",0,Returns an array of integers.,0.000000
14,16429738,16430387,0.334652,"[(4.0, [4.0, 4.1, 4.2, 4.3]), (8.9, [8.9, 9.0,...","In Python, how can I check if 2 numbers in a l...",14,53,96,43,22,4,"[1, 63, 12, 24, 18, 20, 16, 306, 24, 18, 20, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 382, 6600, 16, 3661, 848, 467, 866, 309, 5...",0,4. 0 - > 4. 0 - > 4. 0 -,0.000000
15,18905026,32288527,0.058329,"[call('a'), call('c'), call('d'), call('b'), c...",How to verify a .__getitem__() call in a Mock ...,15,55,81,22,21,4,"[1, 63, 1991, 2668, 69, 19899, 745, 2668, 71, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 44, 543, 358, 3929, 279, 263, 972, 31571, ...",0,Returns an array of the functions that are def...,0.074074
16,39711335,39711380,0.296785,my_string = mybytes.decode('utf-8'),Python - Reading a UTF-8 encoded string byte-b...,16,35,52,13,14,2,"[1, 4811, 67, 1080, 273, 3399, 3890, 18, 3922,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 15774, 300, 31941, 279, 6380, 17, 28, 3749...",0,This is a hack to avoid the problem with the u...,0.347826
17,41902958,41903041,0.506797,"['aa', 'bb', 'CC', 'Dd', 'ee']",Insert item into case-insensitive sorted list ...,17,30,55,16,10,4,"[1, 3292, 7598, 2187, 296, 9897, 2187, 296, 67...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 4600, 761, 1368, 648, 17, 31940, 3115, 666...",0,A list of all the possible values for the coun...,0.105263
18,17824280,17828032,0.459831,"type([1, 2, 3]) == type(['a', 'b', 'c'])",How to specify that a parameter is a list of s...,18,40,82,20,17,4,"[1, 723, 3816, 21, 16, 576, 16, 890, 5717, 422...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 44, 543, 358, 4800, 716, 279, 1569, 353, 2...",0,Checks if the type of the array is the same as...,0.137931
19,20324864,20325013,0.102697,"plt.subplot2grid((4, 4), [0, 1], 2, 2)",Can I arrange 3 equally sized subplots in a tr...,19,38,61,19,15,4,"[1, 24339, 18, 24523, 22, 5222, 12443, 24, 16,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 2568, 467, 2454, 726, 890, 1298, 1230, 260...",0,plt. subplot2grid,0.000000
20,1651487,1651840,0.167289,"['a', 'b', '{ { c } }']",Python parsing bracketed blocks,20,23,31,12,5,4,"[1, 3292, 69, 2187, 296, 70, 2187, 2292, 288, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0]","[1, 15774, 5811, 9843, 329, 4398, 2, -100, -10...",0,A simple helper to create a list of strings.,0.000000
21,33576444,33576498,0.257838,"y = dict(x, foo_bar='spam_eggs')",Is it possible to copy and update a python dic...,21,32,85,16,16,4,"[1, 93, 273, 2065, 12, 92, 16, 8431, 67, 3215,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 2520, 518, 3323, 358, 1610, 471, 1089, 279...",0,y = dict of x = > bar,0.000000
22,6122816,6122897,0.217050,"data = {foo: foo_value, bar: bar_value}",How to convert string to variable name?,22,39,39,15,9,4,"[1, 892, 273, 288, 11351, 30, 8431, 67, 1132, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 44, 543, 358, 1765, 533, 358, 2190, 508, 3...",0,The data structure for the bar bar_value.,0.000000
23,21624818,21627577,0.279974,"ax.set_ylim(0, 10)",matplotlib legend: Including markers and lines...,23,18,84,10,16,3,"[1, 651, 18, 542, 67, 20435, 12, 20, 16, 1728,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0]","[1, 7373, 10690, 7241, 30, 657, 18596, 11754, ...",0,Set the limits of the plot.,0.000000
24,10569438,10569477,0.555374,print('\u0420\u043e\u0441\u0441\u0438\u044f'),How to print Unicode character in Python?,24,45,41,29,9,4,"[1, 1188, 2668, 64, 89, 3028, 3462, 64, 89, 30...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 44, 543, 358, 1172, 9633, 3351, 316, 6600,...",0,Prints the unicode character sequence of the c...,0.375000
0,19530568,29500330,0.248484,df['grouped'] = df['B'] + df['C'],"Can pandas groupby aggregate into a list, rath...",0,33,69,14,16,3,"[1, 2180, 3292, 25472, 3546, 273, 3013, 3292, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 2568, 12037, 13126, 7047, 1368, 279, 666, ...",1,Group by B and C,0.000000
1,18702105,24900335,0.334249,"f([[0.0, 0.0], [1.0, 1.0]], [[0.0, 1.0], [0.0,...",Parameters to numpy's fromfunction,1,53,34,40,6,4,"[1, 74, 3816, 63, 20, 18, 20, 16, 374, 18, 20,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 2402, 358, 3972, 1807, 628, 915, 2, -100, ...",1,- - - - - - - - - - - - - -,0.000000
2,1686390,1686400,0.356134,a = '123' if b else '456',"Python-equivalent of short-form ""if"" in C++",2,25,43,12,14,4,"[1, 69, 273, 296, 12936, 11, 309, 324, 469, 29...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0]","[1, 15774, 17, 14298, 6505, 434, 3025, 17, 687...",1,a = 123 b = 456,0.000000
3,30551955,30551971,0.252021,"[(1, 2, 3), (10, 2, 3)]",Expanding tuples in list comprehension generator,3,23,48,15,10,4,"[1, 63, 12, 21, 16, 576, 16, 890, 3631, 261, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 12271, 310, 10384, 316, 666, 1161, 266, 76...",1,Returns a list of 2 - tuples.,0.333333
4,13944751,13944920,0.126119,"{{example_2(1, 2, test='Hello')}}","*args, **kwargs in jinja2 macros",4,33,32,14,9,4,"[1, 12187, 8236, 67, 22, 12, 21, 16, 576, 16, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 14, 1968, 16, 2826, 4333, 316, 25919, 22, ...",1,Example 2.,0.000000
5,26963319,26963763,0.188478,"func(1, 2, kwonly=3, kw=4)",Python inspect module: keyword only args,5,26,40,15,7,4,"[1, 644, 12, 21, 16, 576, 16, 5323, 3700, 33, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 15774, 5334, 1605, 30, 4932, 1338, 833, 2,...",1,1 2 3 kwonly = 3,0.000000
6,41030900,41030939,0.014241,"t2 = [4, 5, 6]",overloaded __getitem__ accepting another argument,6,14,49,10,8,4,"[1, 88, 22, 273, 306, 24, 16, 1381, 16, 1666, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0]","[1, 1643, 4230, 1001, 31571, 972, 25806, 4042,...",1,t1 = 4 5 6,0.000000
7,22962447,22963275,0.318675,"['C', 'B', 'D', 'A', 'B', 'C', 'D', 'A']",How to randomize the order of elements of a li...,7,40,99,24,21,4,"[1, 3292, 39, 2187, 296, 38, 2187, 296, 40, 21...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 44, 543, 358, 2744, 554, 326, 1353, 434, 2...",1,Returns the list of the available values.,0.320000
8,20256909,20257014,0.097054,"ordering = ['customer_name', 'city_name', 'sta...",Django: How to write query to sort using multi...,8,50,79,15,16,4,"[1, 22598, 273, 10228, 10061, 67, 529, 2187, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 40, 9142, 30, 9017, 358, 1045, 843, 358, 1...",1,Order by customer_name city_name,0.000000
9,41256648,41256772,0.565963,"df.iloc[:, (np.r_[1:10, (15), (17), 50:100])]",Select multiple ranges of columns in Pandas Da...,9,45,53,27,8,4,"[1, 2180, 18, 330, 504, 10531, 16, 261, 6782, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 3391, 3229, 7322, 434, 2168, 316, 30540, 7...",1,DF. illustration of the R^2 matrix.,0.133333
10,10851445,10851479,0.654581,"['long ', 'string ', 'that ', 'I want to split...",Splitting a string by list of indices,10,51,37,16,8,4,"[1, 3292, 5748, 2265, 296, 1080, 2265, 296, 19...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 5521, 1787, 279, 533, 635, 666, 434, 4295,...",1,List of strings and their values.,0.461538
11,17352321,17373096,0.637749,"re.findall('\\[[^\\]]*\\]|\\([^\\)]*\\)|""[^""]*...",Python splitting string by parentheses,11,60,38,31,5,4,"[1, 266, 18, 4720, 454, 2668, 1695, 63, 5969, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 15774, 20347, 533, 635, 27888, 2, -100, -1...",1,Find all the strings in the input string.,0.153846
12,26746441,26748321,0.170526,"test(1, 2)",How can a decorator pass variables into a func...,12,10,82,6,15,4,"[1, 3813, 12, 21, 16, 576, 13, 2, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]","[1, 44, 543, 848, 279, 7367, 1342, 3152, 1368,...",1,Test for the presence of two numbers,0.000000
13,29545758,29545984,0.192087,"[round_to_nearest(i, 6) for i in range(20)]",Python 2 - How would you round up/down to the ...,13,43,64,18,16,3,"[1, 63, 2260, 67, 869, 67, 25785, 12, 77, 16, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 15774, 576, 300, 9017, 4102, 1846, 3643, 7...",1,Returns an array of integers.,0.000000
14,16429738,16430387,0.334652,"[(4.0, [4.0, 4.1, 4.2, 4.3]), (8.9, [8.9, 9.0,...","In Python, how can I check if 2 numbers in a l...",14,53,96,43,22,4,"[1, 63, 12, 24, 18, 20, 16, 306, 24, 18, 20, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 382, 6600, 16, 3661, 848, 467, 866, 309, 5...",1,4. 0 - > 4. 0 - > 4. 0 -,0.000000
15,18905026,32288527,0.058329,"[call('a'), call('c'), call('d'), call('b'), c...",How to verify a .__getitem__() call in a Mock ...,15,55,81,22,21,4,"[1, 63, 1991, 2668, 69, 19899, 745, 2668, 71, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 44, 543, 358, 3929, 279, 263, 972, 31571, ...",1,Returns an array of the functions that are def...,0.074074
16,39711335,39711380,0.296785,my_string = mybytes.decode('utf-8'),Python - Reading a UTF-8 encoded string byte-b...,16,35,52,13,14,2,"[1, 4811, 67, 1080, 273, 3399, 3890, 18, 3922,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 15774, 300, 31941, 279, 6380, 17, 28, 3749...",1,This is a hack to avoid the problem with the u...,0.347826
17,41902958,41903041,0.506797,"['aa', 'bb', 'CC', 'Dd', 'ee']",Insert item into case-insensitive sorted list ...,17,30,55,16,10,4,"[1, 3292, 7598, 2187, 296, 9897, 2187, 296, 67...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 4600, 761, 1368, 648, 17, 31940, 3115, 666...",1,A list of all the possible values for the coun...,0.105263
18,17824280,17828032,0.459831,"type([1, 2, 3]) == type(['a', 'b', 'c'])",How to specify that a parameter is a list of s...,18,40,82,20,17,4,"[1, 723, 3816, 21, 16, 576, 16, 890, 5717, 422...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 44, 543, 358, 4800, 716, 279, 1569, 353, 2...",1,Checks if the type of the array is the same as...,0.137931
19,20324864,20325013,0.102697,"plt.subplot2grid((4, 4), [0, 1], 2, 2)",Can I arrange 3 equally sized subplots in a tr...,19,38,61,19,15,4,"[1, 24339, 18, 24523, 22, 5222, 12443, 24, 16,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 2568, 467, 2454, 726, 890, 1298, 1230, 260...",1,plt. subplot2grid,0.000000
20,1651487,1651840,0.167289,"['a', 'b', '{ { c } }']",Python parsing bracketed blocks,20,23,31,12,5,4,"[1, 3292, 69, 2187, 296, 70, 2187, 2292, 288, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0]","[1, 15774, 5811, 9843, 329, 4398, 2, -100, -10...",1,A simple helper to create a list of strings.,0.000000
21,33576444,33576498,0.257838,"y = dict(x, foo_bar='spam_eggs')",Is it possible to copy and update a python dic...,21,32,85,16,16,4,"[1, 93, 273, 2065, 12, 92, 16, 8431, 67, 3215,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 2520, 518, 3323, 358, 1610, 471, 1089, 279...",1,y = dict of x = > bar,0.000000
22,6122816,6122897,0.217050,"data = {foo: foo_value, bar: bar_value}",How to convert string to variable name?,22,39,39,15,9,4,"[1, 892, 273, 288, 11351, 30, 8431, 67, 1132, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 44, 543, 358, 1765, 533, 358, 2190, 508, 3...",1,The data structure for the bar bar_value.,0.000000
23,21624818,21627577,0.279974,"ax.set_ylim(0, 10)",matplotlib legend: Including markers and lines...,23,18,84,10,16,3,"[1, 651, 18, 542, 67, 20435, 12, 20, 16, 1728,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0]","[1, 7373, 10690, 7241, 30, 657, 18596, 11754, ...",1,Set the limits of the plot.,0.000000
24,10569438,10569477,0.555374,print('\u0420\u043e\u0441\u0441\u0438\u044f'),How to print Unicode character in Python?,24,45,41,29,9,4,"[1, 1188, 2668, 64, 89, 3028, 3462, 64, 89, 30...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 44, 543, 358, 1172, 9633, 3351, 316, 6600,...",1,Prints the unicode character sequence of the c...,0.375000

In [3]:
########## ROUGE PER SETTING CROSS VALIDATION

print("CROSS VALIDATION BASE LEARNERS")

print("Mean")
print(cv_predictions.groupby(["epoch_set"])["rouge"].mean())

print("STD")
print(cv_predictions.groupby("epoch_set")["rouge"].std())

CROSS VALIDATION BASE LEARNERS
Mean
epoch_set
0     0.113684
1     0.248138
3     0.272320
5     0.274575
8     0.274978
10    0.269348
16    0.271933
Name: rouge, dtype: float64
STD
epoch_set
0     0.124533
1     0.158242
3     0.158920
5     0.159016
8     0.160552
10    0.159361
16    0.159539
Name: rouge, dtype: float64

In [18]:
######### STEP TWO RESULTS
print("STEP TWO REGRESSION RESULTS ON THE CROSS VALIDATION")

for model in s2_predictions.keys():
    print(model)
    print("RMSE ", s2_predictions[model]["rmse_avg"])
    print("MAE ",s2_predictions[model]["mae_avg"])
    print("\n")

    print("RMSE STD ", np.array(s2_predictions[model]["rmse"]).std())
    print("MAE STD", np.array(s2_predictions[model]["mae"]).std())
    print("\n")

RMSE
lr
RMSE  0.21934613543049408
MAE  0.16605483256816642


RMSE STD  0.012521411366325088
MAE STD 0.0034385307115693273


svm
RMSE  0.16300984740424532
MAE  0.13096644113186462


RMSE STD  0.0011227892336925901
MAE STD 0.0012285904506338095


lgbm
RMSE  0.15717906705432996
MAE  0.12625733748119103


RMSE STD  0.0012875640953631032
MAE STD 0.0009907676576338907


catboost
RMSE  0.15611605676977322
MAE  0.125438155817813


RMSE STD  0.0016531759000054172
MAE STD 0.001358401309634718


Mean
STD

epoch_set
0     0.041542
1     0.045629
3     0.046012
5     0.045990
8     0.046012
10    0.046012
16    0.046012
Name: catboost_perf_hat, dtype: float64

In [5]:
########## ESTIMATED ROUGE PER SETTING CATBOOST

print("Mean")
print(cv_predictions.groupby("epoch_set").catboost_perf_hat.mean())

print("STD")
cv_predictions.groupby("epoch_set").catboost_perf_hat.std()

Mean
epoch_set
0     0.115614
1     0.253617
3     0.272724
5     0.272869
8     0.273038
10    0.272724
16    0.272724
Name: catboost_perf_hat, dtype: float64
STD

epoch_set
0     0.041542
1     0.045629
3     0.046012
5     0.045990
8     0.046012
10    0.046012
16    0.046012
Name: catboost_perf_hat, dtype: float64

In [9]:
########## ROUGE PER SETTING
print("RESULTS BASE LEARNERS TEST")

print("Mean")
print(test_predictions.groupby(["epoch_set"])["catboost_perf_hat"].mean())

print("STD")
print(test_predictions.groupby("epoch_set")["catboost_perf_hat"].std())

RESULTS BASE LEARNERS TEST
Mean

KeyError: 'Column not found: catboost_perf_hat'

In [11]:
########## ROUGE PER SETTING
print("RESULTS BASE LEARNERS TEST")

print("Mean")
print(test_predictions.groupby(["epoch_set"])["rouge"].mean())

print("STD")
print(test_predictions.groupby("epoch_set")["rouge"].std())

Mean
epoch_set
0     0.099899
1     0.240821
3     0.261663
5     0.260452
8     0.257582
10    0.253284
16    0.254509
Name: rouge, dtype: float64
STD
epoch_set
0     0.117489
1     0.155287
3     0.158059
5     0.159269
8     0.157516
10    0.159339
16    0.159984
Name: rouge, dtype: float64